
/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Couleur de fond claire */
    color: #333;
}

header {
    background: linear-gradient(135deg, #4caf50, #66bb6a); /* Dégradé plus subtil pour l'en-tête */
    color: #fff;
    padding: 40px 20px; /* Plus d'espace autour du texte */
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
}

h1 {
    margin: 0;
    font-size: 3.2em;
    letter-spacing: 1px;
    font-weight: 700;
}

.sub-title {
    font-size: 1.5em;
    margin-top: 10px;
}

section {
    margin: 30px auto;
    padding: 30px;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #4caf50;
    font-size: 2.4em;
    margin-bottom: 15px;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 5px;
    font-weight: 700;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: #4caf50;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    flex: 1 1 180px;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
    font-weight: 400;
}

.skill:hover {
    background: #388e3c;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    font-weight: 400;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s, transform 0.3s; /* Ajout d'une transition au bouton */
}

.btn:hover {
    background-color: #2980b9;
    transform: translateY(-2px); /* Légère élévation au survol */
}

.btn-secondary {
    background-color: #2ecc71;
}

.btn-secondary:hover {
    background-color: #27ae60;
}

.btn-contact {
    background-color: #f39c12;
}

.btn-contact:hover {
    background-color: #e67e22;
}

/* Style pour les médias */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em; /* Réduction de la taille de l'en-tête sur les petits écrans */
    }

    h2 {
        font-size: 2em; /* Réduction de la taille des sous-titres */
    }

    .sub-title {
        font-size: 1.2em; /* Réduction de la taille de la sous-titre */
    }
}
